<head>
    <title>Home</title>
</head>

@using (Html.BeginForm("AddCatalog", "Home"))
{
    <button type="submit" class="button">Add Catalog</button>
}
@using (Html.BeginForm("TaskCatalogs", "Home"))
{
    <button type="submit" class="button">Task Catalogs</button>
}
@using (Html.BeginForm("SelectingRoot", "CheckHardDrive"))
{
    <button type="submit" class="button">Check Local Catalogs</button>
}
@using (Html.BeginForm("Import", "Import"))
{
    <button type="submit" class="button">Import Catalogs</button>
}
@using (Html.BeginForm("Export", "Import"))
{
    <button type="submit" class="button">Export Catalogs</button>
}
