<head>
    <title>Home</title>
</head>


@using (Html.BeginForm("AddCatalog", "Home"))
{
    <button type="submit" class="button">Add Catalog</button>
}
@using (Html.BeginForm("TaskCatalogs", "Home"))
{
    <button type="submit" class="button">Task Catalogs</button>
}
